---
---

  <div class="card card-hover mb-5 mx-lg-2 form-card">
    <div class="card-body pt-5 px-6 pb-4 text-center">
        <form method="GET" action="create?name=" class="form-inline">
            <div class="input-group">
                <input type="text" id="name" name="name" class="form-control" placeholder="your Name" required>
                <button class="btn btn-info" type="submit">Create</button>
              </div>
          </form>
          <br />
    </div>
  </div>